<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true"
	xmlns="http://ch.qos.logback/xml/ns/logback"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback logback.xsd">

	<property name="pattern" value="%d{HH:mm:ss} [%thread] %-5level %logger -- %msg%n" />
	<property name="patternCotation" value="%d{HH:mm:ss} -- %msg%n" />
	<property name="sql.level" value="warn" />
	<property name="root.level" value="warn" />
	<property name="cryptobot.level" value="info" />
	<springProperty scope="context" name="log.dir" source="cryptobot.logging.directory" defaultValue="./logs"/>
	
	<springProfile name="debug">
		<property name="sql.level" value="trace" />
		<property name="root.level" value="debug" />
		<property name="cryptobot.level" value="debug" />
    </springProfile>
    <springProfile name="debugSQL">
		<property name="sql.level" value="trace" />
    </springProfile>
    
<if condition='isDefined("log.dir")'>
    <then>
    
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${pattern}</pattern>
			</encoder>
		</appender>
	
		<appender name="HIBERNATE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.dir}/hibernate.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${log.dir}/hibernate_%d{yyyy-MM-dd}.log</fileNamePattern>
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>${pattern}</pattern>
			</encoder>
		</appender>
	
		<appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.dir}/error.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${log.dir}/error_%d{yyyy-MM-dd}.log</fileNamePattern>
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>${pattern}</pattern>
			</encoder>
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>ERROR</level>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
		</appender>
	
		<appender name="CRYPTOBOT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.dir}/cryptobot.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${log.dir}/cryptobot_%d{yyyy-MM-dd}.log</fileNamePattern>
				<maxHistory>30</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>${pattern}</pattern>
			</encoder>
		</appender>
		
		<appender name="COTATION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.dir}/cotation.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${log.dir}/cotation_%d{yyyy-MM-dd}.log</fileNamePattern>
				<maxHistory>7</maxHistory>
			</rollingPolicy>
			<encoder>
				<pattern>${patternCotation}</pattern>
			</encoder>
		</appender>

	
		<root level="${root.level}">
			<appender-ref ref="ERROR_FILE" />
			<springProfile name="debug">
				<appender-ref ref="STDOUT" />
			</springProfile>
		</root>

		<logger name="org.hibernate.SQL" level="${sql.level}" additivity="false">
			<appender-ref ref="HIBERNATE_FILE" />
		</logger>
		<logger name="org.hibernate.orm.jdbc.bind" level="${sql.level}" additivity="false">
			<appender-ref ref="HIBERNATE_FILE" />
		</logger>
		
		<logger name="net.jmb.cryptobot.service.CotationService" level="${cryptobot.level}">
			<appender-ref ref="COTATION_FILE" />
		</logger>
	
		<logger name="net.jmb.cryptobot.service" level="${cryptobot.level}">
			<appender-ref ref="CRYPTOBOT_FILE" />
		</logger>
		
		<logger name="org.springframework" level="${cryptobot.level}">
			<appender-ref ref="CRYPTOBOT_FILE" />
		</logger>
		
	</then>
</if>

</configuration>